In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder \
        .appName("customer-orders") \
        .getOrCreate()

24/07/30 15:00:31 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

24/07/30 15:00:36 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
df = spark.read.csv("customer-orders.csv", inferSchema=True)
df.show(5)

+---+----+-----+
|_c0| _c1|  _c2|
+---+----+-----+
| 44|8602|37.19|
| 35|5368|65.89|
|  2|3391|40.64|
| 47|6694|14.98|
| 29| 680|13.08|
+---+----+-----+
only showing top 5 rows

In [5]:
df2 = df.withColumnRenamed("_c0","custID") \
            .withColumnRenamed("_c1","itemID") \
            .withColumnRenamed("_c2","amount") 
df2.show(1)

+------+------+------+
|custID|itemID|amount|
+------+------+------+
|    44|  8602| 37.19|
+------+------+------+
only showing top 1 row

In [13]:
df3 = df2.groupBy("custID").sum("amount").withColumnRenamed("sum(amount)", "Total")
df3.show()

+------+------------------+
|custID|             Total|
+------+------------------+
|    31|           4765.05|
|    85|           5503.43|
|    65|5140.3499999999985|
|    53| 4945.299999999999|
|    78| 4524.509999999999|
|    34|            5330.8|
|    81| 5112.709999999999|
|    28| 5000.709999999998|
|    76| 4904.209999999999|
|    27| 4915.889999999999|
|    26|            5250.4|
|    44|4756.8899999999985|
|    12| 4664.589999999998|
|    91| 4642.259999999999|
|    22| 5019.449999999999|
|    93| 5265.750000000001|
|    47| 4316.299999999999|
|     1| 4958.600000000001|
|    52| 5245.059999999999|
|    13|           4367.62|
+------+------------------+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import round
df4 = df3.withColumn("Total", round(df3["Total"], 2))
df4.show()

+------+-------+
|custID|  Total|
+------+-------+
|    31|4765.05|
|    85|5503.43|
|    65|5140.35|
|    53| 4945.3|
|    78|4524.51|
|    34| 5330.8|
|    81|5112.71|
|    28|5000.71|
|    76|4904.21|
|    27|4915.89|
|    26| 5250.4|
|    44|4756.89|
|    12|4664.59|
|    91|4642.26|
|    22|5019.45|
|    93|5265.75|
|    47| 4316.3|
|     1| 4958.6|
|    52|5245.06|
|    13|4367.62|
+------+-------+
only showing top 20 rows